.register-container {
  background-color: rgb(65, 65, 65);
  color: white;
  text-align: center;
}
.register-title {
  padding-bottom: 50px;
}

.register-form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}
.register-form input {
  min-width: 300px;
  margin: 5px;
  padding: 10px;
  border: 1px solid rgb(248, 246, 246);
  border-radius: 10px;
  font-size: 2rem;
  font-family: inherit;
}

button {
  cursor: pointer;
  padding: 10px;
  width: 300px;
  margin-top: 10px;
  background-color: rgb(115, 237, 115);
  border-radius: 10px;
  border: none;
  box-shadow: 0 18px 54px rgba(0, 0, 0, 0.3);
  transition: background-color 250ms;
}
button:hover {
  background-color: green;
}
